name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build ./strukly-backend --file Dockerfile --tag ghcr.io/mahasigma-sunib/koinku:latest
    - name: Push Image to ghcr.io
      run: |
        docker login -u KrisNathan -p ${{ secrets.GHCR_TOKEN }}
        docker push ghcr.io/mahasigma-sunib/koinku:latest
